/* NAVIGATION */

.head {
  background-color: #1d1717;
  height: 100vh;

  max-width: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 14rem;
  width: 28rem;
}

.nav-lists {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  margin-right: 4.8rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid aliceblue;
  transition: all 0.01s ease-in 0.01s;
}

/* SECTION-HERO */

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 38);

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.41),
      rgba(0, 0, 0, 0.19)
    ),
    url(/img/Primary\ photo.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: orangered; */
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  text-align: center;
  color: azure;
}

.hero-text-small {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  line-height: 1.8;
  color: azure;
}

/* SECTION ABOUT */
.section-about {
  background-color: rgb(29, 23, 23);
  padding: 9.6rem 6.4rem;
}
.section-about-text {
  padding: 9.6rem 8rem;
  background-color: #f0e2de;
}

.section-content {
  position: relative;
}

.section-about-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  z-index: 999;
  filter: brightness(1.15);
  opacity: 1;
}

.figure-img {
  overflow: hidden;
}
.section-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  overflow: hidden;
}
.section-img {
  transition: all 0.4s;
  max-width: 100%;
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
}

.about-text-small {
  font-size: 2rem;
  max-width: 76%;
  line-height: 1.6;
}

/* SECTION PRODUCTS */

.section-products {
  background-color: #1d1717;
  padding: 9.6rem 8rem;
  color: #f0f8ff;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  text-align: center;
  color: #f0ffff;
  margin-bottom: 6.4rem;
}

.product-cards {
  padding: 3.2rem 4.8rem;
  font-size: 3rem;
  font-weight: 700;
}

.product-card1 {
  font-size: 3rem;
  font-weight: 700;
}

.offer {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 900;
  text-align: center;
  margin-left: 9.6rem;
  letter-spacing: 2px;
  background-color: yellow;
}

.product-img {
  width: 100%;
  max-height: 67vh;
  transition: all 0.4s;
}

.product-img-parent {
  overflow: hidden;
}
.product-img:hover {
  transform: scale(1.1);
}

.img-blur {
  filter: brightness(1.1);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.4rem;
}

.btn-card {
  max-width: 50%;
  margin-top: 0.8rem;
}

/* FOOTER */
.footer {
  font-family: sans-serif;
  background-color: #f0e2de;
  padding: 9.6rem 6.4rem;
}

.footer-text1 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-text2 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.grid-2 {
  align-self: start;
}
.grid-3 {
  align-self: start;
}
.footer-text3 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}
.footer-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.footer-sm-text {
  font-size: 1.6rem;
  color: #1d1717;
  font-weight: 500;
}

.email {
  display: flex;
  gap: 1.6rem;
}
.email-text {
  padding: 1.6rem 3.2rem;
  width: 30vw;
  border: 2px solid #1d1717;
  background-color: #f0e2de;
  font-size: 1.6rem;
  font-weight: 400;
}

.email-text::placeholder {
  color: #1d1717;
}
.footer-btn {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  background-color: #1d1717;
  color: #f0e2de;
  font-weight: 700;
  transition: all 0.3s;
  width: 10vw;
  cursor: pointer;
  text-align: center;
}

.footer-lists {
  display: flex;
  gap: 2.4rem;
}
.footer-list {
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;

  transition: all 0.3s;
}

.footer-link {
  font-size: 1.6rem;
  color: #1d1717;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.6rem;
  color: #1d1717;
  font-weight: 500;
  font-weight: 500;
}
